.service{
	.service-item{
		> .service-bg{
			position: absolute;
			top: 50%;
			@include translateY-scale(-50%,0);
			@include transition-all(0.5s);

			img{
				width: auto;
				height: auto;
			}
		}

		> .service-info{
			left: 0;
			width: 100%;
			text-align: center;
			@include transition-all(0.5s);

			@media screen and (min-width: 992px) {
				@include translateY-scale(-50%,1);
				position: absolute;
				top: 50%;
			}
			@media screen and (max-width: 992px) {
				@include translateY-scale(0%,1);
				position: relative;
				top: 0%;
			}


			> .service-title{
				font-size: $title-size;
				font-style: italic;
				color: $dark-gray;
				@include transition-all(0.5s);
			}
			> .line{
				width: 80%;
				height: 1.5px;
				background-color: $gray;
				margin: 15px auto;
			}
			> .service-description{
				p{
					color: $dark-gray;
					@include transition-all(0.5s);
				}
			}
		}
	}
	@media screen and (min-width: 992px) {
		&:hover .service-bg{
			@include translateY-scale(-50%,1);
		}
		&:hover .service-info{
			@include translateY-scale(-50%,1.1);
		}
		&:hover p, &:hover .service-title{
			color: $black !important;
		}
	}
}

.service{
	@media screen and (max-width: 991px) {
		min-height: 150px;
		&:nth-child(1){
			margin-top: 100px;
		}
	}
	@media screen and (min-width: 992px) {
		position: fixed;
		width: 25%;
		height: 100%;
		overflow: hidden;
		border-left: 1px solid $gray;
		cursor: pointer;

		&:nth-child(1){
			border-left: 0px;
		}
		&.service1{
			left: 0;
		}
		&.service2{
			left: 25%;
		}
		&.service3{
			left: 50%;
		}
		&.service4{
			left: 75%;
		}
	}
}
